# default section for "req" command options
[req]
distinguished_name = cert_dn
prompt = no

[cert_dn]
commonName = squid

# ISO2 country code only
countryName = FR

# City is required
localityName = Paris

[v3_req]
basicConstraints = CA:FALSE
keyUsage = nonRepudiation, digitalSignature, keyEncipherment
subjectAltName = @alt_names

[alt_names]
DNS.0 = localhost
IP.0 = 127.0.0.1
# can be useful in nested virtualization setups
IP.1 = 192.168.122.1
